@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply
    text-white
  ;
}

input, textarea, select {
  @apply
    text-black
  ;
}

a {
  @apply
    font-bold
    pb-2
    hover:border-b-2
    hover:border-black
    hover:pb-0
  ;
}